# <center><h1>Personalized Product Recommendation Engine (Hybrid)</h1></center>

A Hybrid  personalized product Recommendation Engine is qa Machine learning System that combines user behavior data and product attributes to geneerate acccurate relevant and personalized prodct recommendatios for each user.

## Problem Statement

E- commerce platforms struggle to recommed relevant products to users due to information overload,lack of personalization ,and cold start issue leading to poor user experience and lower engagement.

### Goal

The Goal of this projects is to show trhe right products to the right user based on their interest and past activity.
Example : if a user often buys mobile phones and accessories ,the system will recommend similar phones covers or earphones instead of random products.

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

import seaborn as sns

In [2]:
df=pd.read_csv("7817_1.csv")
df.head()

,id,asins,brand,categories,colors,dateAdded,dateUpdated,dimension,ean,keys,...,reviews.rating,reviews.sourceURLs,reviews.text,reviews.title,reviews.userCity,reviews.userProvince,reviews.username,sizes,upc,weight
0,AVpe7AsMilAPnD_xQ78G,B00QJDU3KY,Amazon,"Amazon Devices,mazon.co.uk",NaN,2016-03-08T20:21:53Z,2017-07-18T23:52:58Z,169 mm x 117 mm x 9.1 mm,NaN,kindlepaperwhite/b00qjdu3ky,...,5.0,https://www.amazon.com/Kindle-Paperwhite-High-...,I initially had trouble deciding between the p...,"Paperwhite voyage, no regrets!",NaN,NaN,Cristina M,NaN,NaN,205 grams
1,AVpe7AsMilAPnD_xQ78G,B00QJDU3KY,Amazon,"Amazon Devices,mazon.co.uk",NaN,2016-03-08T20:21:53Z,2017-07-18T23:52:58Z,169 mm x 117 mm x 9.1 mm,NaN,kindlepaperwhite/b00qjdu3ky,...,5.0,https://www.amazon.com/Kindle-Paperwhite-High-...,Allow me to preface this with a little history...,One Simply Could Not Ask For More,NaN,NaN,Ricky,NaN,NaN,205 grams
2,AVpe7AsMilAPnD_xQ78G,B00QJDU3KY,Amazon,"Amazon Devices,mazon.co.uk",NaN,2016-03-08T20:21:53Z,2017-07-18T23:52:58Z,169 mm x 117 mm x 9.1 mm,NaN,kindlepaperwhite/b00qjdu3ky,...,4.0,https://www.amazon.com/Kindle-Paperwhite-High-...,I am enjoying it so far. Great for reading. Ha...,Great for those that just want an e-reader,NaN,NaN,Tedd Gardiner,NaN,NaN,205 grams
3,AVpe7AsMilAPnD_xQ78G,B00QJDU3KY,Amazon,"Amazon Devices,mazon.co.uk",NaN,2016-03-08T20:21:53Z,2017-07-18T23:52:58Z,169 mm x 117 mm x 9.1 mm,NaN,kindlepaperwhite/b00qjdu3ky,...,5.0,https://www.amazon.com/Kindle-Paperwhite-High-...,I bought one of the first Paperwhites and have...,Love / Hate relationship,NaN,NaN,Dougal,NaN,NaN,205 grams
4,AVpe7AsMilAPnD_xQ78G,B00QJDU3KY,Amazon,"Amazon Devices,mazon.co.uk",NaN,2016-03-08T20:21:53Z,2017-07-18T23:52:58Z,169 mm x 117 mm x 9.1 mm,NaN,kindlepaperwhite/b00qjdu3ky,...,5.0,https://www.amazon.com/Kindle-Paperwhite-High-...,I have to say upfront - I don't like coroporat...,I LOVE IT,NaN,NaN,Miljan David Tanic,NaN,NaN,205 grams

In [3]:
df.columns

Index(['id', 'asins', 'brand', 'categories', 'colors', 'dateAdded',
       'dateUpdated', 'dimension', 'ean', 'keys', 'manufacturer',
       'manufacturerNumber', 'name', 'prices', 'reviews.date',
       'reviews.doRecommend', 'reviews.numHelpful', 'reviews.rating',
       'reviews.sourceURLs', 'reviews.text', 'reviews.title',
       'reviews.userCity', 'reviews.userProvince', 'reviews.username', 'sizes',
       'upc', 'weight'],
      dtype='object')

In [4]:
drop_cols = [
    'asins', 'colors', 'dateAdded', 'dateUpdated', 'dimension',
    'ean', 'keys', 'manufacturer', 'manufacturerNumber',
    'sizes', 'upc', 'weight',
    'reviews.date', 'reviews.sourceURLs',
    'reviews.userCity', 'reviews.userProvince'
]

In [5]:
df = df.drop(columns=drop_cols, errors='ignore')

In [6]:
df.columns

Index(['id', 'brand', 'categories', 'name', 'prices', 'reviews.doRecommend',
       'reviews.numHelpful', 'reviews.rating', 'reviews.text', 'reviews.title',
       'reviews.username'],
      dtype='object')

In [7]:
df.head()

,id,brand,categories,name,prices,reviews.doRecommend,reviews.numHelpful,reviews.rating,reviews.text,reviews.title,reviews.username
0,AVpe7AsMilAPnD_xQ78G,Amazon,"Amazon Devices,mazon.co.uk",Kindle Paperwhite,"[{""amountMax"":139.99,""amountMin"":139.99,""curre...",NaN,139.0,5.0,I initially had trouble deciding between the p...,"Paperwhite voyage, no regrets!",Cristina M
1,AVpe7AsMilAPnD_xQ78G,Amazon,"Amazon Devices,mazon.co.uk",Kindle Paperwhite,"[{""amountMax"":139.99,""amountMin"":139.99,""curre...",NaN,126.0,5.0,Allow me to preface this with a little history...,One Simply Could Not Ask For More,Ricky
2,AVpe7AsMilAPnD_xQ78G,Amazon,"Amazon Devices,mazon.co.uk",Kindle Paperwhite,"[{""amountMax"":139.99,""amountMin"":139.99,""curre...",NaN,69.0,4.0,I am enjoying it so far. Great for reading. Ha...,Great for those that just want an e-reader,Tedd Gardiner
3,AVpe7AsMilAPnD_xQ78G,Amazon,"Amazon Devices,mazon.co.uk",Kindle Paperwhite,"[{""amountMax"":139.99,""amountMin"":139.99,""curre...",NaN,2.0,5.0,I bought one of the first Paperwhites and have...,Love / Hate relationship,Dougal
4,AVpe7AsMilAPnD_xQ78G,Amazon,"Amazon Devices,mazon.co.uk",Kindle Paperwhite,"[{""amountMax"":139.99,""amountMin"":139.99,""curre...",NaN,17.0,5.0,I have to say upfront - I don't like coroporat...,I LOVE IT,Miljan David Tanic

In [8]:
df.isnull()

,id,brand,categories,name,prices,reviews.doRecommend,reviews.numHelpful,reviews.rating,reviews.text,reviews.title,reviews.username
0,False,False,False,False,False,True,False,False,False,False,False
1,False,False,False,False,False,True,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,False
3,False,False,False,False,False,True,False,False,False,False,False
4,False,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
1592,False,False,False,False,False,True,False,False,False,False,False
1593,False,False,False,False,False,True,False,False,False,False,False
1594,False,False,False,False,False,True,False,False,False,False,False
1595,False,False,False,False,False,True,False,False,False,False,False
1596,False,False,False,False,False,True,False,False,False,False,False

In [9]:
df.isnull().sum()

id                        0
brand                     0
categories                0
name                      0
prices                    0
reviews.doRecommend    1058
reviews.numHelpful      697
reviews.rating          420
reviews.text              0
reviews.title            17
reviews.username         17
dtype: int64

### Step 1 Collaborative Filltering

In [10]:
df_cf=df.drop(columns=['brand','categories','name','prices','reviews.doRecommend','reviews.numHelpful','reviews.text','reviews.title'])

In [11]:
df_cf.head()

                     id  reviews.rating    reviews.username
0  AVpe7AsMilAPnD_xQ78G             5.0          Cristina M
1  AVpe7AsMilAPnD_xQ78G             5.0               Ricky
2  AVpe7AsMilAPnD_xQ78G             4.0       Tedd Gardiner
3  AVpe7AsMilAPnD_xQ78G             5.0              Dougal
4  AVpe7AsMilAPnD_xQ78G             5.0  Miljan David Tanic

In [12]:
df_cf.isnull().sum()

id                    0
reviews.rating      420
reviews.username     17
dtype: int64

In [13]:
df_cf=df_cf.dropna(subset=['reviews.rating'])

In [14]:
df_cf.isnull().sum()

id                  0
reviews.rating      0
reviews.username    0
dtype: int64

#df_cf=df_cf.rename(columns={
    'reviews.username': 'user_id',
    'id': 'product_id',
    'reviews.rating': 'rating'
#})

In [15]:
df_cf.head()

                     id  reviews.rating    reviews.username
0  AVpe7AsMilAPnD_xQ78G             5.0          Cristina M
1  AVpe7AsMilAPnD_xQ78G             5.0               Ricky
2  AVpe7AsMilAPnD_xQ78G             4.0       Tedd Gardiner
3  AVpe7AsMilAPnD_xQ78G             5.0              Dougal
4  AVpe7AsMilAPnD_xQ78G             5.0  Miljan David Tanic

In [16]:
df_cf.shape

(1177, 3)

In [17]:
df_cf=df_cf.drop_duplicates(['id','reviews.username'])

In [18]:
user_counts = df_cf['reviews.username'].value_counts()
item_counts=df_cf['id'].value_counts()

In [19]:
df_cf = df_cf[
    df_cf['reviews.username'].isin(user_counts[user_counts >= 3].index) &
    df_cf['id'].isin(item_counts[item_counts >= 3].index)
]

In [20]:
from surprise import Dataset, Reader
from surprise.model_selection import train_test_split

In [21]:

reader = Reader(rating_scale=(1,5))
data = Dataset.load_from_df(df_cf[['reviews.username','id','reviews.rating']], reader)

In [22]:
trainset, testset = train_test_split(data, test_size=0.2, random_state=42)

In [23]:
from surprise import SVD

In [24]:
model_cf = SVD()
model_cf.fit(trainset)

In [25]:
from surprise import accuracy

predictions = model_cf.test(testset)
accuracy.rmse(predictions)

RMSE: 0.7825

0.7824771029975306

In [39]:
def get_cf_recommendations(username, model, df_cf, n=10):
    all_items = df_cf['id'].unique()
    rated_items = df_cf[df_cf['reviews.username'] == username]['id'].values

    items_to_predict = [item for item in all_items if item not in rated_items]

    predictions = [
        (item, model.predict(username, item).est)
        for item in items_to_predict
    ]

    predictions.sort(key=lambda x: x[1], reverse=True)
    return predictions[:n]

Contant Based Filtering (CBF)

Goal
Recommend products similar in content to what a user interacted with.

Input

Product text (review + title)

User interaction history (optional)

Output

Similar products list

In [40]:
df_cb = df.dropna(subset=['reviews.text']).copy()

In [41]:
df_cb.columns

Index(['id', 'brand', 'categories', 'name', 'prices', 'reviews.doRecommend',
       'reviews.numHelpful', 'reviews.rating', 'reviews.text', 'reviews.title',
       'reviews.username'],
      dtype='object')

In [42]:
df_cb['text'] = df_cb['reviews.title'].fillna('') + " " + df_cb['reviews.text']

In [43]:
import re

def clean_text(text):
    text = text.lower()
    text = re.sub(r'[^a-z ]', ' ', text)
    return re.sub(r'\s+', ' ', text).strip()

df_cb['clean_text'] = df_cb['text'].apply(clean_text)

In [44]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(
    stop_words='english',
    max_features=5000
)

tfidf_matrix = vectorizer.fit_transform(df_cb['clean_text'])

In [45]:
from sklearn.metrics.pairwise import cosine_similarity

similarity_matrix = cosine_similarity(tfidf_matrix)

In [46]:
def get_similar_products(product_id, df_cb, similarity_matrix, n=10):
    if product_id not in df_cb['id'].values:
        return []

    idx = df_cb[df_cb['id'] == product_id].index[0]
    scores = list(enumerate(similarity_matrix[idx]))
    scores = sorted(scores, key=lambda x: x[1], reverse=True)

    top_indices = [i[0] for i in scores[1:n+1]]
    return df_cb.iloc[top_indices]['id'].values

In [47]:
def hybrid_recommendations(
    username,
    model_cf,
    df_cf,
    df_cb,
    similarity_matrix,
    n=10,
    cf_weight=0.6,
    cbf_weight=0.4
):
    final_scores = {}

    # CF part
    try:
        cf_recs = get_cf_recommendations(username, model_cf, df_cf, n=20)
        for item, score in cf_recs:
            final_scores[item] = final_scores.get(item, 0) + cf_weight * score
    except:
        pass

    # CBF part (use recent interaction)
    user_history = df_cf[df_cf['reviews.username'] == username]['id']

    if len(user_history) > 0:
        last_item = user_history.iloc[-1]
        cbf_items = get_similar_products(
            last_item, df_cb, similarity_matrix, n=20
        )

        for item in cbf_items:
            final_scores[item] = final_scores.get(item, 0) + cbf_weight

    # Sort & return
    return sorted(final_scores.items(), key=lambda x: x[1], reverse=True)[:n]

In [48]:
sample_user = df_cf['reviews.username'].iloc[0]

recs = hybrid_recommendations(
    sample_user,
    model_cf,
    df_cf,
    df_cb,
    similarity_matrix,
    n=10
)

print("Hybrid Recommendations:")
for item, score in recs:
    print(item, round(score, 3))

Hybrid Recommendations:
AVpjWh8e1cnluZ0-Vy0O 8.0
AV1T1nR5-jtxr-f31CpL 3.0
AV3as-VX-jtxr-f3_PPu 2.943
AV1T1nRJ-jtxr-f31CpK 2.894
AVzRloqLGV-KLJ3aavBd 2.891
AV1T1u7jvKc47QAVgf3J 2.891
AV1T1nWrglJLPUi8H8Yz 2.89
AV1T1nJ_GV-KLJ3adSMC 2.874
AV1T1naH-jtxr-f31CpM 2.873
AVzRlpElvKc47QAVd5FB 2.873

In [49]:
import pickle

with open("cf_model.pkl", "wb") as f:
    pickle.dump(model_cf, f)

with open("tfidf_vectorizer.pkl", "wb") as f:
    pickle.dump(vectorizer, f)

with open("similarity_matrix.pkl", "wb") as f:
    pickle.dump(similarity_matrix, f)